.my-form-field {
  width: 40%;
  margin: 10px 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 450px) {
  .info-section .title-inner .year-box {
    margin: auto;
  }

  .info-section .title-inner .title h2 {
    text-align: center;
    margin-bottom: 10%;
  }

  .info-section .text-column .text p {
    text-align: center;
  }

  .my-sec-title {
    margin: auto;
    line-height: 28px;
    color: rgb(255, 255, 255, 0.4);
  }

  .my-sec-title h2 {
    text-align: center;
    margin-top: 5%;
  }

  .my-ta {
    text-align: center;
    margin-top: 5%;
  }

  .my-sec-title h5 {
    text-align: center;
    margin-top: 5%;
  }

  .cta-section .title h2 {
    text-align: center;
  }

  .cta-section .btn-box {
    margin: 50px;
  }

  .info-section {
    padding: 30px 0px;
  }
}

.info-section .title-inner {
  position: relative;
  padding-left: 250px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  min-height: 180px;
}

.info-section {
  position: relative;
  padding: 70px 0px;
  align-items: center;
}

/* Consult Form */

/* Consult Form Multi Selector */
